<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registration Page</title>
  </head>
  <body>
    <h1>Registration</h1>
    <form action="/create" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br />

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" required /><br />

      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <input type="submit" value="Register" />
    </form>
  </body>
</html>
